.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background: transparent;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

body {
  font-family: $font-stack;
  height: 100%;
  font-size: 14px;
  color: #333;
  line-height: 1.2;
  background-color: #fff;
}
